streamlit
pandas
chromadb
ollama
matplotlib
plotly
openpyxl
tiktoken
fastapi
uvicorn
pdfplumber
pytesseract
Pillow
streamlit-autorefresh
google-generativeai
python-dotenv
sentence-transformers
streamlit-quill
python-docx
oracledb
oci
botbuilder-core
botbuilder-schema
botbuilder-integration-aiohttp
discord.py
